html,
body {
    margin: 0;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    flex: 1;
    background-color: #edf6f9;
}

h1 {
    font-size: 40px;
}

ul {
    list-style-type: none;
}

button {
    font-size: 20px;
    padding: 10px 16px;
    margin: 5px;
    border: 1.5px solid #006d77;
    background-color: white;
    box-shadow: 4px 4px #83c5be;
    cursor: pointer;
}

footer {
    background-color: #006d77;
    min-height: 100px;
    bottom: 0px;
    width: 100%;
}

#pans-decoration,
#herbs-decoration {
    height: 150px;
    background-size: 200px;
    background-repeat: repeat-x;
    background-position-x: 20px;
    margin: 0px -10px 0px -10px;
}

#pans-decoration {
    background-image: url('@/assets/photos/pan.png');
}

#herbs-decoration {
    background-image: url('@/assets/photos/herbs.png');
    background-size: 300px;
}

.RecipesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px
}

.recipe-cell {
    position: relative;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#steps li,
#ingredients li {
    text-align: left;
}

.error {
    font-size: larger;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 5px;
    background-color: var(--lightRed);
    width: fit-content;
    margin: auto;
}

#searchBar {
    border: 1.5px solid #006d77;
    width: fit-content;
    margin: auto;
    padding: 0px;
    margin-bottom: 10px;
    box-shadow: 4px 4px #83c5be;
    min-width: 300px;
    max-width: 500px;
}

.search-input {
    padding: 10px;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    color: #006d77;
}

.search-input::placeholder {
    color: #999;
}

button#empty {
    border: none;
    color: #006d77;
    margin: 0;
    box-shadow: none;
    background-color: white;
}

button#search {
    margin: 0px;
    box-shadow: none;
    border: none;
}

.fa-search {
    color: #006d77;
}

.quote {
    padding: 50px
}

@media (max-width: 400px) {
    .search-input {
        width: 200px;
    }
}

@media (max-width: 500px) {
    .close_button {
        padding: 2px 8px;
    }
}