/* Colors */

/*
COLOR CODES:
Red - #9c2135
LightRed - #e9d1d5
Blue - #282c97
LightBlue - #dedffc
Green - #006a44
LightGreen - #c9dcd5
*/

:root {
    --red: #9c2135;
    --lightRed: #e9d1d5;
    --blue: #282c97;
    --lightBlue: #dedffc;
    --green: #006a44;
    --lightGreen: #c9dcd5;
    --text: black;
    --text-inverted: white;

    /* Fonts */
    --font: sans-serif;
}


html,
body {
    margin: 0;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    flex: 1;
}

h1 {
    font-size: 40px;
}

ul {
    list-style-type: none;
}

button {
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 10px;
    margin: 5px;
}

.topnav {
    background-color: var(--green);
    overflow: hidden;
    height: 100px;
    padding: 10px;
    padding-right: 20px;
}

.topnav a {
    color: var(--text-inverted);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnavLinks a:hover {
    background-color: var(--lightGreen);
    color: var(--text);
}

.topnavLinks a.active {
    background-color: var(--lightGreen);
    color: var(--text);
}

.topnavLinks {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    border: 1px solid black;
    border-radius: 5px;
}

.topnavLogo {
    float: left;
    width: 40%;
}


#Logo {
    height: 100px;
    width: 100px;
}

footer {
    background-color: var(--green);
    min-height: 100px;
    bottom: 0px;
    width: 100%;
}

.overlay {
    position: fixed;
    display: flex;
    /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

#create_overlay {
    position: absolute;
    max-height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto;
}

.close_button,
#edit_icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

#trash_can_icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#globe_icon {
    position: absolute;
    top: 50%;
    right: 10px;
}

.public-icon {
    color: blue;
}

.private-icon {
    color: lightgray
}

.recipe-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
}

.form-group label {
    font-size: 20px;
    grid-column: 1 / -1;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    grid-column: 1 / -1;
    resize: vertical;
    box-sizing: border-box;
}

.RecipesGrid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.recipe-cell {
    position: relative;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#steps li,
#ingredients li {
    text-align: left;
}

.error {
    font-size: larger;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 5px;
    background-color: var(--lightRed);
    width: fit-content;
    margin: auto;
}

.search-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
}

button#empty {
    border: none;
    background: none;
    color: rgb(100, 100, 100);
    margin: 0;
}

.quote {
    padding: 50px
}