/* Colors */

/*
COLOR CODES:
Red - #9c2135
LightRed - #e9d1d5
Blue - #282c97
LightBlue - #dedffc
Green - #006a44
LightGreen - #c9dcd5
*/

:root {
    --red: #9c2135;
    --lightRed: #e9d1d5;
    --blue: #282c97;
    --lightBlue: #dedffc;
    --green: #006a44;
    --lightGreen: #c9dcd5;
    --text: black;
    --text-inverted: white;

    /* Fonts */
    --font: sans-serif;
}


html,
body {
    margin: 0;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    flex: 1;
}

h1 {
    font-size: 40px;
}

ul {
    list-style-type: none;
}

button {
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 10px;
    margin: 5px;
}

footer {
    background-color: var(--green);
    min-height: 100px;
    bottom: 0px;
    width: 100%;
}

.overlay {
    position: fixed;
    display: flex;
    /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

#create_overlay {
    position: absolute;
    max-height: 90%;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.public-icon {
    color: blue;
}

.private-icon {
    color: rgb(147, 147, 147)
}

.recipe-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr;
}

.form-group label {
    font-size: 20px;
    grid-column: 1 / -1;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    grid-column: 1 / -1;
    resize: vertical;
    box-sizing: border-box;
}

.RecipesGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px
}

.recipe-cell {
    position: relative;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#steps li,
#ingredients li {
    text-align: left;
}

.error {
    font-size: larger;
    color: var(--red);
    border: 1px solid var(--red);
    padding: 5px;
    background-color: var(--lightRed);
    width: fit-content;
    margin: auto;
}

.search-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
}

button#empty {
    border: none;
    background: none;
    color: rgb(100, 100, 100);
    margin: 0;
}

.quote {
    padding: 50px
}

@media (max-width: 400px) {
    .search-input {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .close_button {
        padding: 2px 8px;
    }
}